.markdown-container {
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif, SimHei, SimSun
}

.markdown-container P {
  font-size: 16px;
  color: #4f4f4f;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 16px;
  text-align: justify
}

.markdown-container strong {
  font-weight: 700
}

.markdown-container {
  i, address, cite, dfn, em, var {
    font-style: italic
  }
}

.markdown-container * {
  box-sizing: border-box
}

.markdown-container {
  h1, .markdown-container h2, .markdown-container h3, .markdown-container h4, .markdown-container h5, .markdown-container h6 {
    color: #4f4f4f;
    margin: 8px 0 16px;
    font-weight: 700
  }
}

.markdown-container ol, .markdown-container ul {
  margin: 0 0 24px;
  padding: 0
}

.markdown-container ul ol {
  margin: 0 0 24px 32px
}

.markdown-container ul li {
  list-style-type: disc;
  margin: 8px 0 0 32px
}

.markdown-container ol li {
  list-style-type: decimal;
  margin-left: 40px;
  margin-top: 8px
}

.markdown-container img {
  margin: 24px 0;
  max-width: 100%
}

.markdown-container h1 {
  font-size: 28px;
  line-height: 36px
}

.markdown-container h2 {
  font-size: 24px;
  line-height: 32px
}

.markdown-container h3 {
  font-size: 22px;
  line-height: 30px
}

.markdown-container h4 {
  font-size: 20px;
  line-height: 28px
}

.markdown-container h5 {
  font-size: 18px;
  line-height: 26px
}

.markdown-container h6 {
  font-size: 16px;
  line-height: 24px
}

.markdown-container h1 code {
  font-size: 28px
}

.markdown-container h2 code {
  font-size: 24px
}

.markdown-container h3 code {
  font-size: 22px
}

.markdown-container h4 code {
  font-size: 20px
}

.markdown-container h5 code {
  font-size: 18px
}

.markdown-container h6 code {
  font-size: 16px
}

.markdown-container blockquote {
  display: block;
  padding: 16px;
  margin: 0 0 24px;
  border-left: 8px solid #DDDFE4;
  background: #EEF0F4;
  overflow: auto;
  overflow-scrolling: touch;
  word-wrap: normal;
  word-break: normal
}

.markdown-container blockquote ol, .markdown-container blockquote ul {
  margin-bottom: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px
}

.markdown-container blockquote ol li, .markdown-container blockquote ul li {
  margin-bottom: 0
}

.markdown-container blockquote p {
  font-size: 14px;
  line-height: 22px;
  color: #999;
  font-weight: 400;
  margin-bottom: 0
}

.markdown-container hr {
  margin: 24px 0;
  border: none;
  border-bottom: solid #ddd 1px
}

.markdown-container table tr {
  border: 0;
  border-top: 1px solid #DDD;
  background-color: #fff
}

.markdown-container table {
  border-collapse: collapse;
  display: table;
  width: 100%;
  text-align: center;
  margin-bottom: 24px
}

.markdown-container tbody {
  border: 0
}

.markdown-container table tr:nth-child(2n) {
  background-color: #F7F7F7
}

.markdown-container table tr td, .markdown-container table tr th {
  font-size: 14px;
  color: #4f4f4f;
  line-height: 22px;
  border: 1px solid #DDD;
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
  word-break: normal;
  vertical-align: middle
}

.markdown-container table tr td code, .markdown-container table tr th code {
  white-space: normal;
  word-break: break-all
}

.markdown-container table tr th {
  font-weight: 700;
  background-color: #eff3f5
}

.markdown-container dl {
  margin: 24px
}

.markdown-container dl dt {
  margin: 8px;
  font-weight: 700
}

.markdown-container dl dt dd {
  margin: 8px
}

.markdown-container abbr[data-original-title], .markdown-container abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999
}

.markdown-container .initialism {
  font-size: 90%;
  text-transform: uppercase
}

.markdown-container pre {
  margin-bottom: 24px
}

.markdown-container code, .markdown-container kbd, .markdown-container pre, .markdown-container samp {
  font-family: Consolas, Inconsolata, Courier, monospace;
  font-size: 14px;
  line-height: 22px;
  color: #000
}

.markdown-container code {
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 2px;
  padding: 4px 2px 0
}

.markdown-container a {
  color: #4EA1DB;
  text-decoration: none
}

.markdown-container a:focus, .markdown-container a:hover {
  color: #ca0c16
}

.markdown-container a:visited {
  color: #6795B5
}

.markdown-container .footnote {
  vertical-align: top;
  position: relative;
  top: -4px;
  font-size: 12px
}

.markdown-container .footnotes ol li {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 8px 24px
}

.markdown-container .flow-chart, .markdown-container .sequence-diagram {
  text-align: center;
  margin-bottom: 24px;
  font-size: 14px !important
}

.markdown-container .flow-chart [fill="#000"], .markdown-container .flow-chart [fill="#000000"], .markdown-container .flow-chart [fill=black], .markdown-container .sequence-diagram [fill="#000"], .markdown-container .sequence-diagram [fill="#000000"], .markdown-container .sequence-diagram [fill=black] {
  fill: #4f4f4f
}

.markdown-container .flow-chart [stroke="#000000"], .markdown-container .sequence-diagram [stroke="#000000"] {
  stroke: #4f4f4f
}

.markdown-container .MathJax_SVG_Display {
  text-align: center;
  margin: 24px 0;
  font-size: 18px;
  font-weight: 400;
  color: #4f4f4f;
  position: relative;
  text-indent: 0;
  max-width: none;
  max-height: none;
  min-width: 0;
  min-height: 0;
  width: 100%
}

.markdown-container .toc {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
  padding: 0
}

.markdown-container .toc ul {
  margin: 0 0 8px;
  padding: 0
}

.markdown-container .toc ul li {
  list-style-type: none;
  margin: 8px 0 0 24px
}

.markdown-container pre code {
  display: block;
  font-size: 14px;
  line-height: 22px;
  overflow-x: auto;
  padding: 0;
  color: #000;
  white-space: pre;
  word-wrap: normal;
  background-color: #f6f8fa;
  border-radius: 4px
}

.markdown-container .prettyprint, .markdown-container pre.prettyprint {
  margin: 0 0 24px;
  padding: 8px 16px 4px 56px;
  background-color: #f6f8fa;
  border: none
}

.prettyprint {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto
}

.markdown-container .prettyprint .pre-numbering {
  position: absolute;
  width: 48px;
  background-color: #eef0f4;
  top: 0;
  left: 0;
  margin: 0;
  padding: 8px 0;
  list-style: none;
  text-align: right
}

.markdown-container .pre-numbering li {
  padding: 0 8px;
  list-style: none;
  margin: 0
}

.markdown-container dl dd {
  margin: 0 0 8px 40px
}

.markdown-container kbd {
  padding: 2px 8px;
  border: 1px solid rgba(63, 63, 63, .25);
  box-shadow: 0 1px 0 rgba(63, 63, 63, .25);
  background-color: #fff;
  color: #333;
  border-radius: 4px;
  display: inline-block;
  margin: 0 2px;
  white-space: nowrap
}
