html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

html {
  font-size: 100px;
}

textarea {
  resize: none;
}

.icon {
  display: inline-block;
  vertical-align: top;
}

.form-control {
  border: none;
  outline: none;
}

.btn {
  display: inline-block;
  width: 80%;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  line-height: 0.88rem;
  background-color: #2BB9E6;
  border-radius: 0.08rem;
}

.text-btn {
  display: inline-block;
  font-size: 18px;
  color: #2BB9E6;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.08rem;
  height: 0.08rem;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0.08rem;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.08rem;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #28323E;
}
