header {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  color: #FFF;
  font-size: 16px;
  text-align: left;
  padding: 0 0.2rem;
  display: flex;
  justify-content: space-between;

  & > a {
    color: #FFF;
    display: flex;
    align-items: center;

    & > .icon-github {
      font-size: 20px;
      margin-right: 0.05rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    width: 100%;
  }
}
