.layout.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6f7;

  & > app-header {
    background-color: #28323E;
    width: 100%;
    flex: 0 0 0.9rem;
    line-height: 0.9rem;
  }

  & > .page-container {
    width: 1200px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .layout.app {
    & > .page-container {
      width: 100%;
    }
  }
}
